body{
    background-color:#f2f2f2;
}

body, span, p {
	font-family: 'Josefin Slab';
	font-size: 22px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 15px;
  height: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.cont {
  position: absolute;
/* 	border-radius: 10px;
	box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	min-height: 100px;
	height: 90%;
	width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tweet {
    margin-top: 10px;
	padding: 20px;
	border-radius: 3%;
	color: #333333;
}

img {
    max-width: 380px;
    max-height: 300px;
}

.artist {
  border-radius: 50%;
  max-width: 90px;
  max-height: 90px;
}

.center-content {
  display: inline;
    float: none;
}

.profile {
  width: 175px;
  height: 175px;
}

h1 {
    line-height: .5em;
    font-size: 22px;
}

h2
{
    font-size: 18px;
    line-height: 1em;
}



p {
    font-size: 15px;
}

span.light {
  font-weight: lighter;
}

span.bold {
  font-weight: 700;
  font-family: 'Josefin Slab'; 
  font-size: 22px;
}

span.heavy {
  font-weight: 700;
}

/* Card */

.card {
  margin-bottom: 15px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Progress Bar */
.bg-prog1 {
  background-color: #CC0000;
}

.bg-prog2 {
  background-color: #BE0E00;
}

.bg-prog3 {
  background-color: #B01C00;
}

.bg-prog4 {
  background-color: #993300;
}

.bg-prog5 {
  background-color: #884400;
}

.bg-prog6 {
  background-color: #775500;
}

.bg-prog7 {
  background-color: #666600;
}

.bg-prog8 {
  background-color: #557700;
}

.bg-prog9 {
  background-color: #448800;
}

.bg-prog10 {
  background-color: #339900;
}