body {
  background-color: #f2f2f2;
  font-family: 'Mulish';
}

table tr td {
  font-family: 'Mulish';
  font-size: 14px;
}

span, p {
  font-family: 'Mulish';
  font-size: 18px;
  color: #303030;
}

p.default {
  margin: 0px;
}

.column {
  float: left;
  height: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.cont {
  position: absolute;
  min-height: 100px;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr.solid {
  border-top: 1px solid #404040;
}

img {
  max-width: 380px;
  max-height: 300px;
}

.center-content {
  display: inline;
  float: none;
}

.profile {
  width: 175px;
  height: 175px;
}

.btn-signout {
  margin-top: 10px;
  background-color: #ec950c;
  color: #FFFFFF;
}

h1 {
  line-height: 1em;
  font-size: 24px;
  padding-bottom: 10px;
  font-family: 'Zilla Slab';
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 20px;
  line-height: 1em;
}

h3 {
  font-size: 16px;
  line-height: 1em;
  padding: 5px;
  font-weight: 600;
  text-align: center;
  font-family: 'Mulish';
}

span.light {
  font-weight: lighter;
}

span.bold {
  font-weight: 700;
  font-family: 'Josefin Slab';
  font-size: 22px;
}

span.heavy {
  font-weight: 700;
}

/* Card */

.card {
  margin-bottom: 15px;
  padding: 15px;
}

/* Progress Bar */
.bg-prog1 {
  background-color: #CC0000;
}

.bg-prog2 {
  background-color: #BE0E00;
}

.bg-prog3 {
  background-color: #B01C00;
}

.bg-prog4 {
  background-color: #993300;
}

.bg-prog5 {
  background-color: #884400;
}

.bg-prog6 {
  background-color: #775500;
}

.bg-prog7 {
  background-color: #666600;
}

.bg-prog8 {
  background-color: #557700;
}

.bg-prog9 {
  background-color: #448800;
}

.bg-prog10 {
  background-color: #339900;
}