<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/overview"><img src="static/techconnect_logo.png" width=125></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/record">Record Points</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stats</a>
      </li>
    </ul>
    <form action="/preview" class="form-inline my-2 my-lg-0" target="_blank">
      <select class="form-control" style="margin-right: 10px" name="preview_fellow">
        
        {% for fellow in fellow_names %}
            <option value="{{ fellow }}"> {{ fellow }} </option>
        {%endfor %}
        
      </select>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Preview Student View</button>
    </form>
  </div>
</nav>