<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>
    MLT | Form
  </title>
</head>

<body>
  <form action="/save" method="POST">
    <div class="form-row" style="margin: 0px 10px 10px 10px">
      <div class="col">
        <label for="staticEmail" class="col-form-label">Name</label>
      </div>
      <div class="col">
        <label for="staticEmail" class="col-form-label">Date</label>
      </div>
      <div class="col">
        <label for="staticEmail" class="col-form-label">Call Sched. Pts</label>
      </div>
      <div class="col">
        <label for="staticEmail" class="col-form-label">Call Atten. Pts</label>
      </div>
      <div class="col">
        <label for="staticEmail" class="col-form-label">Assign. Pts</label>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Event Name">
      </div>
      <div class="col">
        <label for="staticEmail" class="col-form-label">Notes</label>
      </div>
    </div>

    <div class="form-row" style="margin: 0 10 10 10">
      <div class="col">
        <label for="staticEmail" class="col-form-label">Jane Doe</label>
      </div>
      <div class="col">
        <input class="form-control" list="monthOptions" id="month_text" placeholder="Type to search...">
        <datalist id="monthOptions">
          <option value="Jan '22">
          <option value="Feb '22">
          <option value="Mar '22">
          <option value="April">
          <option value="May">
        </datalist>
      </div>
      <div class="col">
        <input type="text" class="form-control" value=5>
      </div>
      <div class="col">
        <input type="text" class="form-control" value=10>
      </div>
      <div class="col">
        <input type="text" class="form-control" value=5>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="20">
      </div>
      <div class="col">
        <input type="text" class="form-control">
      </div>
    </div>


    <div class="form-row" style="margin: 0px 10px 10px 10px">
      <div class="col">
        <label for="staticEmail" class="col-form-label">Erin Moe</label>
      </div>
      <div class="col">
        <input class="form-control" list="monthOptions" id="month_text" placeholder="Type to search...">
        <datalist id="monthOptions">
          <option value="Jan '22">
          <option value="Feb '22">
          <option value="Mar '22">
          <option value="April">
          <option value="May">
        </datalist>
      </div>
      <div class="col">
        <input type="text" class="form-control" value=5>
      </div>
      <div class="col">
        <input type="text" class="form-control" value=10>
      </div>
      <div class="col">
        <input type="text" class="form-control" value=5>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="20">
      </div>
      <div class="col">
        <input type="text" class="form-control">
      </div>
    </div>
    <center><input type="submit" value="Save" class="btn btn-success" style="width: 125px"/></center>
  </form>
</body>

</html>