<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;600;700;800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&family=Zilla+Slab:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/theme.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    MLT | Stats
  </title>
</head>

<body>
  <div class="cont container-fluid">

    <div class="vstack column col-sm-4">
      <div>
        <center>
          <img src={{fellow_data.profile}} class="profile" /> <br>
          <h2 style="padding-top: 25px; font-size: 24px">Hello, <strong>{{fellow_data.name}}!</strong></h2>
          <a href="/signout"><button class="btn btn-signout" style="margin-bottom: 15px">Sign Out</button></a>
        </center>
      </div>
      <div class="card shadow">
        <h1>Badges</h1>
        Coming Soon!
      </div>
    </div>


    <div class="vstack column col-sm-8">
      <div class="card shadow">
        <p class="default">
        <h1>Status</h1>
        <span>
          <center>You are currently in
            {% if fellow_data.meter_val > 95 %}
            <span class="clr-excellent" style="font-weight: bold"> EXCELLENT </span>
            {% elif fellow_data.meter_val > 90%}
            <span class="clr-great" style="font-weight: bold">GREAT </span>
            {% elif fellow_data.meter_val > 80%}
            <span class="clr-good" style="font-weight: bold">GOOD </span>
            {% elif fellow_data.meter_val > 70%}
            <span class="clr-fair" style="font-weight: bold">FAIR</span>
            {% elif fellow_data.meter_val > 60%}
            <span class="clr-weak" style="font-weight: bold">WEAK</span>
            {% else %}
            <span class="clr-poor" style="font-weight: bold">POOR</span>
            {% endif %}

            standing.
          </center>
        </span>
      </div>
      <div class="card shadow">
        <h1>Professionalism Meter</h1>
        <center>{{ '%0.2f' % fellow_data.meter_val|float }}%</center>
        <div class="progress">
          {% if fellow_data.meter_val >= 10 %}
          <div class="progress-bar bg-prog1" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog1" role="progressbar" style="width: {{fellow_data.meter_val % 10 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val >= 20 %}
          <div class="progress-bar bg-prog2" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 10 %}
          <div class="progress-bar bg-prog2" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog2" role="progressbar" style="width: {{fellow_data.meter_val % 10 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val >= 30 %}
          <div class="progress-bar bg-prog3" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 20 %}
          <div class="progress-bar bg-prog3" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog3" role="progressbar" style="width: {{fellow_data.meter_val % 20 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val >= 40 %}
          <div class="progress-bar bg-prog4" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 30 %}
          <div class="progress-bar bg-prog4" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog4" role="progressbar" style="width: {{fellow_data.meter_val % 30 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val >= 50 %}
          <div class="progress-bar bg-prog5" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 40 %}
          <div class="progress-bar bg-prog5" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog5" role="progressbar" style="width: {{fellow_data.meter_val % 40 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val >= 60 %}
          <div class="progress-bar bg-prog6" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 50 %}
          <div class="progress-bar bg-prog6" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog6" role="progressbar" style="width: {{fellow_data.meter_val % 50 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val >= 70 %}
          <div class="progress-bar bg-prog7" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 60 %}
          <div class="progress-bar bg-prog7" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog7" role="progressbar" style="width: {{fellow_data.meter_val % 60 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val >= 80 %}
          <div class="progress-bar bg-prog8" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 70 %}
          <div class="progress-bar bg-prog8" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog8" role="progressbar" style="width: {{fellow_data.meter_val % 70 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val >= 90 %}
          <div class="progress-bar bg-prog9" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 80 %}
          <div class="progress-bar bg-prog9" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog9" role="progressbar" style="width: {{fellow_data.meter_val % 80 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if fellow_data.meter_val == 100 %}
          <div class="progress-bar bg-prog10" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif fellow_data.meter_val < 90 %}
          <div class="progress-bar bg-prog10" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <div class="progress-bar bg-prog10" role="progressbar" style="width: {{fellow_data.meter_val % 90 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}
        </div>
      </div>

      <div class="card shadow">
        <h1>All Activity </h1>
        <div style="height: 200px; overflow-y:scroll">
          {% for item in fellow_data.records %}
          <h3>{{ item.date }}</h3>
          <table class="table table-bordered table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="width: 180px">Title</th>
                <th scope="col" style="width: 100px">Score</th>
                <th scope="col">Notes</th>
              </tr>
            </thead>
            <tbody>
              {% for point in item.points %}
              <tr>
                
                <td>{{ point.name }}</td>
                <td>{{ point.value }} / {{ point.total }} </td>

                {% if loop.index == 1 %}
                <td rowspan=3>{{ item.notes }}</td>
                {% endif %}
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

</body>

</html>
