<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
         <link rel="stylesheet" href="/static/theme.css">
         
        <title>
            Love | Lauryn Hill
        </title>   
        <style>
body {
    font-family: 'Ubuntu';font-size: 22px;
}
</style>
    </head>

     <!--   <div style = "margin:auto;">
            {%if img %}
            <div style="display:block;margin:auto;height:100%;width:90%;border:solid black;text-align:center;background: url({{img}});background-repeat:no-repeat;background-size:100%;">
                
                    <!--<img style= "margin:auto;width:90%;height:90%;border:solid black;border-radius:25x;"src= " {{img}} "/>
                {%endif%}
                {% if tweet %}
                <div style = "background-color:white;opacity:.3;text-align:center;position:absolute;left:400px;top:250px;width:350px;">
                    <h1>{{tweet.t}}-<a href ="{{tweet.l}}">{{tweet.u}}</a></h1>
                {%endif%}
                </div>
                    
            </div>
            
        </div> -->
    <body>
        <div class="container song">
            <img src={{song_data.song_image}} />
            
            <table>
                <tr>
                    <td><img class=artist src={{song_data.artist_image}} /></td>
                    <td>
                        <h1><a href="{{song_data.artist_link}}">{{song_data.artist}}</a></h1>
                        <h2>{{song_data.song}}</h2>
                    </td>
                </tr>
            </table>
        </div>
        <div class="container tweet">
            <p> {{tweet.t}} </p>
        </div>
    </body>
</html>