<html>

<head>
  {% include "headers.html" %}

  <title>
    MLT | Stats
  </title>
</head>

<body>
  
  {% with fellow_names=fnames %}
    {% include "coach_nav.html" %}
  {% endwith %}
  
  <br>
  <div class="coach-cont container-fluid">
    <div>
    <center><img src= "{{ coach.profile }}" width="150" class="Circular" style="margin-bottom: 10px" />
    <h2 style="margin-Bottom: 20px">Hello, Coach <strong>{{coach.name }}</strong>! </h2></center>
    </div>
    <div class="card">

      <div class="top row">
        <div class="col">
          <h1>Fellows of Concern</h1>
        </div>
      </div>
      <div class="top row">
        <div class="column col-sm-4">
          <h3 class="clr-fair"> On Probation (70 - 79.9%) </h3>
          {% for fellow in fellows %}
          {% if fellow.meter_val < 80 and fellow.meter_val >= 70 %}
          <p class="normal">{{ fellow.name }} ({{ '%0.0f' % fellow.meter_val|float }}%) </p>
          {% endif %}
          {%endfor %}
        </div>
        <div class="column col-sm-4">
          <h3 class="clr-weak"> Need Probation (65 - 69.9%) </h3>
           {% for fellow in fellows %}
          {% if fellow.meter_val < 70 and fellow.meter_val >= 65 %}
          <p class="normal">{{ fellow.name }} ({{ '%0.0f' % fellow.meter_val|float }}%) </p>
          {% endif %}
          {%endfor %}
        </div>
        <div class="column col-sm-4">
          <h3 class="clr-poor"> Need Dismissal (0 - 64.9%) </h3>
           {% for fellow in fellows %}
          {% if fellow.meter_val < 65%}
          <p class="normal">{{ fellow.name }} ({{ '%0.0f' % fellow.meter_val|float }}%) </p>
          {% endif %}
          {%endfor %}
        </div>
      </div>
    </div>


    <div class="card">

      <div class="top row">
        <div class="col">
          <h1>Fellows on Track </h1>
        </div>
      </div>
      <div class="top row">
        <div class="column col-sm-4">
          <h3 class="clr-excellent"> Excellent (95 - 100%) </h3> 
          {% for fellow in fellows %}
          {% if fellow.meter_val > 95 %}
          <p class="normal">{{ fellow.name }} ({{ '%0.0f' % fellow.meter_val|float }}%)</p>
          {% endif %}
          {% endfor %}
        </div>
        <div class="column col-sm-4">
          <h3 class="clr-great"> Great (90 - 94.9%)</h3> 
          {% for fellow in fellows %}
          {% if fellow.meter_val >= 90 and fellow.meter_val < 95 %}
          <p class="normal">{{ fellow.name }} ({{'%0.0f' % fellow.meter_val|float }}%) </p>
          {% endif %}
          {% endfor %}
        </div>
        <div class="column col-sm-4">
          <h3 class="clr-good"> Good (80 - 90%)</h3>
          {% for fellow in fellows %}
          {% if fellow.meter_val >= 80 and fellow.meter_val < 90 %}
          <p class="normal">{{ fellow.name }} ({{ '%0.0f' % fellow.meter_val|float }}%) </p>
          {% endif %}
          {%endfor %}
        </div>
      </div>
    </div>
  </div>

</body>
</head>